.go-back {
  color: var(--theme-color);
  display: block;
  margin: 20px 0;
  opacity: 1;
  padding: 20px 8px;
  width: fit-content;

  &::before {
    content: '←';
    margin-right: 15px;
  }
}
.article h1{
  font-weight: 800;
}
.article section p, .article section ul li, .article section ol li{
  line-height: 1.75;
}
.article img{
  margin: 0 auto;
  display: block;
}