.heading {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dedede;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 800;
}
.title, .title span{
  font-size: 24px;
  color: #63d297;
  font-weight: 600;
  line-height: 1.45;
}
.title span{
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  /* display: block; */
  color: #63d297; 
  padding-right: 6px;
}
.section{
  margin-top: 100px;
  margin-bottom: 45px;
}
.section p{
  font-size: 18px;
  line-height: 1.75;
  margin: 10px 0 20px;
}
.section h3{
  font-weight: 700;
  font-size: 21px;
  margin: 25px 0 10px;
}
.section h4{
  font-weight: 700;
  font-size: 24px;
  margin: 40px 0 10px;
}
.agradecimientos{
  list-style: none;
  padding: 10px 0 20px;
  margin: 0;
}
.agradecimientos li{
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.agradecimientos li::before{
  content: '⭐';
  padding-right: 10px;
  font-size: 14px;
}