.container {
  padding: 0 20px;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.5;
}

.container h1 {
  font-size: 32px;
}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 30px;
  padding: 15px 20px;
  cursor: pointer;
}
.post:hover{
  background-color: rgb(246, 246, 246);
}

.postTitle {
  margin: 0;
}

.postTitle a {
  color: inherit;
  font-size: 18px;
  font-weight: 700; 
}

.postDescription {
  margin-top: 0;
  margin-bottom: 12px;
  opacity: 0.65;
}